
@model Hotel.Application.Dtos.Room.RoomDtoUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Room Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Code</label>
                <input asp-for="IdRoom" class="form-control" />
                <span asp-validation-for="IdRoom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Number</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Details</label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Id User Modify</label>
                <input asp-for="IdUserModify" class="form-control" />
                <span asp-validation-for="IdUserModify" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegistryDate" class="control-label"></label>
                <input asp-for="RegistryDate" class="form-control" />
                <span asp-validation-for="RegistryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
