@model Hotel.Application.Dtos.RoomStatus.RoomStatusDtoUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Room Status Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Code</label>
                <input asp-for="RoomStatusId" class="form-control" />
                <span asp-validation-for="RoomStatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Deleted</label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Modify Date</label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Id UserModify</label>
                <input asp-for="ChangeUser" class="form-control" />
                <span asp-validation-for="ChangeUser" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
